<!DOCTYPE html>
<html>
<head>
  <title>Seemes</title>
  <%= stylesheet_link_tag    "seemes/application", :media => "all" %>
  <%= javascript_include_tag "seemes/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
